{% extends 'adm/base_admin.html' %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}
<div class="profile p-3">
    <h1>Профиль пользователя: {{ user.username }}</h1>
    <div class="row">
        <div class="col">
            <div class="user-info">
                <p><strong>Имя:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                <p><strong>Электронная почта:</strong> {{ user.email }}</p>
                <p><strong>Контакт:</strong> {{ user.phone }}</p>
            </div>
        </div>
        <div class="col">
            {% if user.photo %}
            <img style="border-radius: 20px; object-fit: cover;" class="shadow-lg" src="{{ user.photo.url }}" alt="">
            {% else %}
            фото нет
            {% endif %}
        </div>
    </div>



    <a class="btn btn-info" href="{% url 'update_profile' %}">Изменить профиль</a>
    <a class="btn btn-success" href="{% url 'change_password' %}">Изменить пароль</a>
</div>
{% endblock %}
