{% load static %}

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
            style="background-image: url('https://base.oshsu.kg/resurs/images/original/JPG-20240608110345-Uluk.jpg');
background-size: cover;
background-position: center">
        {% if user.photo %}
            <div style="border-radius: 50%; width: 50px; height: 50px; background: url('{{ user.photo.url }}'); background-size: cover; margin-left: 15px;"></div>
        {% else %}
            <div style="width: 50px; height: 50px; border-radius: 50%;
            background: url('https://t3.ftcdn.net/jpg/05/53/79/60/360_F_553796090_XHrE6R9jwmBJUMo9HKl41hyHJ5gqt9oz.jpg');
            background-size: cover; background-size: cover; margin-left: 15px;">
            </div>
        {% endif %}
        <a href="{% url 'core' %}"
           class="ms-2 d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4 text-light">{{ user.last_name }} {{ user.first_name }}</span>
        </a>

        <ul class="nav nav-pills">
            {% for menu in portfolios %}
                <a class="fs-4 text-decoration-none me-2" href="/user/{{ user.username }}/?change_page={{ menu.id }}">
                    <li style="display: flex; align-items: center; min-height: 100%"
                        class="nav-item text-light pe-2">{{ menu.menu }}</li>
                </a>
            {% endfor %}
        </ul>
    </header>
</div>





